.title {
text-align: center;
font-family: sans-serif;
text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 

}

.headingTwo {
text-align: center;
font-family: sans-serif;
bottom: 95px;
top: 0px;
color: #8a56f0;


}

.link1 {
position: absolute;
    
}

.paragraph1 {
text-align: center;
font-family: sans-serif;
color: white;
text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
 

}

.container {
    
    padding: 15px; 
    width: 300px;
    height: 115px;
    right: 200px; 
    top: 1000px;
    background-color: #bb99ff; 
    font-family: sans-serif;
    text-align: justify;
    margin-left: 350px; 
    
}

.button1 {
    
    background-color: #bb99ff;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 0.5px solid black;
    font-family: sans-serif;
    margin-left: 110px; 
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}

.button2 {
    
    background-color: #bb99ff;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 0.5px solid black;
    font-family: sans-serif;
    margin-left: 500px; 
    top: 60px; 
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 

}

.link1 {

    position: relative;
    left: 390px;
    bottom: 10px;
    
}

.link2 {

    position: static;
     
}

.paragraph4 {
    
    background-color: #bb99ff;
    color: #470990;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    border: 0.5px solid black;
    font-family: sans-serif;
    margin-left: 90px;
    border: 3px white;
     
    
}

.paragraph5 {

    background-color: #bb99ff;
    color: #470990;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    border: 0.5px solid black;
    font-family: sans-serif;
    right: 100px;
    border: 10px white;
     
    
}

body {

background-color: #e8e2f4;

}

.container2 {

    background-image: url(ldnbk.jpg);
    background-size: 100% 100%;  
    
}

.head2 {
    
    text-align: center;
    font-family: sans-serif;
    color: #f1eff7;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}

.head3 {

    text-align: center;
    font-family: sans-serif;
    color: #f1eff7;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}

.paragraph2 {

    text-align: center;
    font-family: sans-serif;
    color: #f1eff7;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
    
}

.paragraph3 {
    
    text-align: center;
    font-family: sans-serif;
    color: #f1eff7;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}
